.spacer {
  flex: 1 1 auto;
}
.nav-item {
  margin-right: 20px;
}
a:link{
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(83, 83, 83);
}

a:active {
  text-decoration: underline;
  color: black;
}
