.movie-card-container {
  height: 550px;
  display: flex;
  flex-wrap: wrap;
}
.movie-card {
  margin: 15px;
  flex: 1;
}
.movie-card-header {
  width: 250px;
}
.movie-card-image {
  margin: auto;
  height: 100%;
}
.movie-card-image-container {
  height: 400px;
  display: flex;
}
