.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-card {
  margin: 15px;
  flex: 1;
  max-width: 350px;
}
.movie-card-header {
  width: 250px;
}
.movie-card-image {
  margin: auto;
  height: 100%;
}
.movie-card-image-container {
  height: 400px;
  display: flex;
}
.card-actions {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
button {
  padding: 0px;
}
